<div class="col-12 col-sm-6 col-md-6 col-lg-3">
  <article class="article article-style-b">
    <div class="article-header">
      <div class="article-image" data-background="{{{ image }}}"></div>
      <div class="article-badge">{{{ badge }}}</div>
    </div>
    <div class="article-details">
      <div class="article-title">
        <h2>
          <a href="{{ git_url }}" target="_blank" rel="noopener noreferrer">
            {{ name }}
          </a>
        </h2>
      </div>
      <p>{{ description }}</p>
      <div class="article-cta">
        <a href="{{ git_url }}" target="_blank" rel="noopener noreferrer">
          Go to GitHub <i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </article>
</div>
