body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
  background-color: burlywood;
  padding: 1rem;
  border-radius: 10px;
}

p > a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}

table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  max-width: 1000px;
}

td {
  border: 1px solid blueviolet;
  color: white;
  padding: 1rem 4rem;
  border-radius: 10px;
  text-align: center;
}

td:hover {
  background-color: rgb(138, 43, 226, 0.3);
  transition: all 500ms ease;
}

td a {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}
